<h1>Probando</h1>
<input type="text" value="0" class="r"  data-min="0" data-max="255">
<input type="text" value="0" class="g" data-min="0" data-max="255">
<input type="text" value="0" class="b" data-min="0" data-max="255">

<h3 class="rbg-color">El color es </h3>
<div class="color"></div>
<style>
  .color{
    height: 100px;
    width: 100px;
  }
</style>
